<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {
  background-image: url('https://image.freepik.com/free-vector/abstract-futuristic-background_23-2148399335.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.center a {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}​

</style>
</head>
<body>
<div class = "center">
    <a href = "http://127.0.0.1:5000/login"><b><h1>Matrix</h1></b></a>
</div>
</body>
</html>